In [30]:
# 변수 선언
a = 10
b = "test"

## 변수 출력
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [31]:
a="test2"
print(a)

test2

In [32]:
print(type(a))

<class 'str'>

In [33]:
## 불형 데이터
## 참과 거짓의 형태
a = True
print(type(a))

<class 'bool'>

In [34]:
b=(100>10)
c=(100<10)
d=(100==100)
print(b,c,d)

True False True

In [35]:
## 산술 연산자
## 기본적인 사칙연산
a=7
b=3
print(a+b,a-b,a*b,a/b,a//b,a%b,a**b)

10 4 21 2.3333333333333335 2 1 343

In [36]:
c=2
print(a+b*c)
print((a+b)*c)

13
20

In [37]:
## 대입 연산자
a+=5 # a = a+5
print(a)

12

In [38]:
### 조건문
- if 문

SyntaxError: invalid syntax (1835494123.py, line 2)

In [ ]:
a=5
if a < 10:
    print("a는 10보다 작다")

a=11

In [ ]:
a=11

In [ ]:
## if ~ else
a=20

if a < 10:
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

In [ ]:
a=5

In [ ]:
## if ~ else ~ else문
score = int(input("점수를 입력하세요:"))
print(score)
print(type(score))
if score >=90:
    print("A")
elif score >=80:
    print("B")
elif score >=70:
    print("C")
else:
    print("F")

print("프로그램 종료")

In [39]:
## 반복문
## for 문
for i in range(0,10,1):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [42]:
## 1부터 10까지의 합계
## for 문

## 합계 변수 생성
sum = 0

for a in range(1,11,1):
    sum+=a
    # sum = sum+a

print(sum)

55

In [49]:
## 다중 for 문
## 구구단

for i in range(2,10,1):
    print("%d단"%i)
    for j in range(1,10,1):
        print("%d X %d = %d"%(i,j,i*j))

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [73]:
## 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값

for i in range(1,7,1):
    for j in range(1,7,1):
        if i+j==5:
            print(i,j)

1 4
2 3
3 2
4 1

In [72]:
## for 문
## 1부터 100까지의 숫자중에 짝수의 합계
## hint : 1부터 100까지 반복
## if 조건식을 사용해서 짝수인 경우에만 +

sum=0
for i in range(1,101,1):
    if i%2==0:
        sum+=i
print(sum)

2550

In [75]:
## while 문
## 초기값 지정해야 함
i=0

## while 문 시작
while i <10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [78]:
## break 문
for i in range(1,101,1):
    print("%d 번째 반복"%i)
    if i ==5:
        break

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복

In [80]:
## 1부터 100까지 합계를 구하는 중 
## 합계가 500이 넘어가는 숫자와 합계의 값

sum=0

for i in range(1,101,1):
    sum+=i
    if sum>=500:
        break
print("합계가 500 이상이 되는 범위의 숫자",i,"합계는",sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [97]:
sum=0
i=1

while i <=100:
    sum+=i
    if i>=500:
        break
    i+=1
print("합계가 500 이상이 되는 범위의 숫자",i,"합계는",sum)

합계가 500 이상이 되는 범위의 숫자 101 합계는 5050

In [98]:
## continue문(반복문으로 돌아가는 것)

for i in range(1,10,1):
    if i <=3:
        continue
    print("%d번째 반복"%i)

4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [101]:
## continue문(반복문으로 돌아가는 것)

for i in range(1,10,1):
    print("%d번째 반복"%i)
    if i <=3:
        continue

1번째 반복
2번째 반복
3번째 반복
4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [102]:
## 1부터 100까지 짝수의 합계

sum=0

for i in range(1,101,1):
    if i%2==1:
        continue
    sum+=i

print(sum)

2550

In [104]:
for num in range(20):
    print(num)
    if num==10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [109]:
for num in range(2,10):
    if num%2==0:
        print("짝수",num)
        continue
    else:
        print("홀수",num)

짝수 2
홀수 3
짝수 4
홀수 5
짝수 6
홀수 7
짝수 8
홀수 9

In [110]:
### 튜플
a = (1,"Hello")
b = (3, 3.14)
c = a + b
d = a * 3
e = a[1]

print(a,b,c,d,e)

(1, 'Hello') (3, 3.14) (1, 'Hello', 3, 3.14) (1, 'Hello', 1, 'Hello', 1, 'Hello') Hello

In [111]:
## 숫자 1만 출력하고 싶으면

print(a[0])

1

In [112]:
a = (10, 20, 30, 40)

print(a[1:3])

(20, 30)

In [114]:
print(a[2:])

(30, 40)

In [6]:
## list 형태 데이터
a = [20, 10, 50, 5]
b = [10, 20, 30, 40]

a.sort()
print(a)

[5, 10, 20, 50]

In [8]:
b.reverse()
print(b)

[10, 20, 30, 40]

In [10]:
a.append(22)
print(a)

[5, 10, 20, 50, 22, 22]

In [120]:
a = []
print(a)
a.append(10)
print(a)

[]
[10]

In [119]:
a.append(10)
print(a)

[10]

In [150]:
## 1부터 70까지 숫자들중에 3의 배수를 리스트로 만들어서 출력

## 비어있는 리스트 생성
l = []
for i in range(1,71,1):
    if i%3==0:
        l.append(i)

print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [133]:
for i in [5,7,10]:
    print(i)

5
7
10

In [148]:
sum=0
for i in l:
    sum+=i
print(sum)

828

In [156]:
## 딕셔너리(사전형 데이터)
## {key1 : value1, key2 : value2,....}
dict={
    "name" : "test",
    "age" : 20,
    "phone" : "01024288507",
}
print(dict["name"])
## 새로운 key : value 를 대입
dict["area"]="seoul"
print(dict)

test
{'name': 'test', 'age': 20, 'phone': '01024288507', 'area': 'seoul'}

In [178]:
## Database 에서 데이터를 받아올 때 데이터의 형태
## [{},{},{}] 리스트안에 딕셔너리형태로 들어옴
test_data = [
    {
        "name" : "test1",
        "age" : 20,
    },
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 40
    }
]
print(test_data[1]["name"])
print(test_data)

test2
[{'name': 'test1', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]

In [169]:
### test_data 에서 name 의 값들만 list 의 형태로 출력

name_list =[]
for i in test_data:
    name_list.append(i["name"])
print(name_list)

['test1', 'test2', 'test3']

In [171]:
name_list=[]

for i in range(0,3,1):
    name_list.append(test_data[i]["name"])
print(name_list)

['test1', 'test2', 'test3']

In [176]:
l=[]

for i in range(0,15,2):
    l.append(i)
print(l)

sum = 0
for i in l:
    sum+=i
    print(sum)

[0, 2, 4, 6, 8, 10, 12, 14]
0
2
6
12
20
30
42
56

In [179]:
## 문자열 내장 함수

## 대문자, 소문자 변환
## upper(), lower()
text = "Hello World"
print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [180]:
text = "   Hello World   "
print(text)

   Hello World

In [181]:
## 공백제거 함수
## strip() : 양쪽의 공백 제거
## lstrip() : 왼쪽의 공백 제거
## rstrip() : 오른쪽의 공백 제거
print(text.lstrip())
print(text.rstrip())
print(text.strip())

Hello World
   Hello World
Hello World

In [184]:
## replace()
## 선택한 문자열을 변경하는 것
## 공백을 제거하는 것에도 사용이 가능
text.replace(" ","")

'HelloWorld'

In [185]:
text.replace("Hello","Hi")

'   Hi World   '

In [186]:
### split()
## 기준이 되는 문자열이나 , . / 와 같은 특수문자열을 기준으로 문자열을 나눠주는 역할을 한다
a = "a,b,c,d,e"
print(a)

a,b,c,d,e

In [187]:
a.split(",")

['a', 'b', 'c', 'd', 'e']

In [1]:
## 함수 
def func_1():
    return "Hello World"

In [3]:
print(func_1())

Hello World

In [190]:
## 매개변수가 존재하는 함수 생성
def func_2(x,y):
    result = x + y
    return result

print(func_2(5,3))
print(func_2(1,3))
print(func_2(10,4))

8
4
14

In [193]:
func_2(1)

TypeError: func_2() missing 1 required positional argument: 'y'

In [194]:
## 매개변수에 기본값을 정의
def func_3(x,y=3): # 기본값을 정의하려면 모두 정의하던가 아니면 뒤에서부터 기본값을 정해주면서 가야됨
    result = x + y
    return result

print(func_3(5,1)) # y 가 3으로 기본값이 정의되어 있지만 인자를 입력하면 y 값이 변경됨
print(func_3(3))

6
6

In [ ]:
def func_4(x = 3, y): # 앞에서부터 기본값을 준 잘못된 사례...y 밑에 빨간줄 가면서 애러 표시됨
    result =

In [195]:
def func_4(x,y):
    result = x **y
    return result

print(func_4(5,2))
print(func_4(y=5,x=2)) # 이렇게 입력하면 매개변수에 대한 인자 순서를 맞추지 않아도 되니 편리함

25
32

In [ ]:
1. 함수를 하나 생성 하는데 매개변수 2개(x,y)
2. 함수가 하는 행동은 (x 부터 y 까지의 합을 리턴) : for / while 문 아무것이나 사용
3. x 보다 y 가 작은 경우에는 x 부터 y 까지의 합, 반대인 경우에는 y 부터 x 까지의 합을 리턴

In [216]:
def func_5(x, y):
    f_sum = 0
    for i in range(x, y+1, 1): # y+1 을 안하면 아래의 첫번째 답이 45가 됨, 어디까지의 합을 만들기 위해서 +1을 함...코딩은 0부터 시작하므로...
        f_sum += i # result = sum+=i 가되면 = 이 두개라 에러가 됨..result = 은 없애도 됨
    return f_sum # f_sum +=i 과 동일한 라인에 있으면 아래의 답이 1 과 none 이 됨..동일한 라인이면 for 반복구문안에서 돌게됨.
                 # for 와 같은 라인이 되어야 func_의 실행값을 돌려줄 수 있음


print(func_5(1, 10))
# print(f_sum) # f_sum 이 지역변수라 함수 밖에서 사용이 안되고 함수 안에서만 사용됨
print(func_5(10, 1))

55
0

In [217]:
def func_6(x,y): # 위와 동일한데 for 문과 while 문의 차이
    f_sum = 0
    while x <= y:
        f_sum += x
        x += 1
    return f_sum

print(func_6(1,10))

55

In [218]:
def func_7(x,y):
    f_sum = 0
    ## x 가 y 보다 작은 경우
    if x < y :
        for i in range(x, y+1, 1):
            f_sum += i
    else :
        for i in range(y, x+1, 1):
            f_sum += i
    return f_sum

print(func_7(1,10)) # if 문이 적용된 결과
print(func_7(10,1)) # else 문이 적용된 결과

55
55

In [223]:
def func_8(x, y):
    f_sum = 0
    for i in range(min(x,y), max(x, y)+1, 1): # 위와 동일한데 if ~ else 문을 사용하지 않고 간단히 하기위해 min, max 사용
        f_sum += i
    return f_sum

print(func_8(1,10))
print(func_8(10,1))

55
55

In [ ]:
1. 함수 생성 (매개변수 3개 x, y, z)
 - z 의 값이 "합" 이라면 x+y 를 리턴 하고
 - z 의 값이 "차" 라면 x-y 를 리턴
 - z 의 값이 둘다 아니면 "연산식이 잘못되었습니다" 라고 리턴

In [226]:
def func_9(x, y, z):
    if z=="합" :
        result = x+y
        return result # 위의 구문을 없애고 그냥 return x+y 라고 해도 됨
    elif z=="차" :
        result = x - y
        return result
    else :
        return "연산석이 잘못되었습니다."

print(func_9(1,3,"합"))
print(func_9(1,3,"차"))
print(func_9(1,3,"곱"))

4
-2
연산석이 잘못되었습니다.

In [227]:
def func_9(x, y, z): # 위와 동일하나 esle 안써도 됨..return 의 자리 때문에..
    if z=="합" :
         return x+y 
    elif z=="차" :
         return x-y
    return "연산석이 잘못되었습니다."

print(func_9(1,3,"합"))
print(func_9(1,3,"차"))
print(func_9(1,3,"곱"))

4
-2
연산석이 잘못되었습니다.

In [228]:
def func_10(x, y, z): # 위와 동일 하나 result 를 한번만 써도 되는 것임 이때는 else 써야 됨
    if z=="합" :
         result = x+y 
    elif z=="차" :
         result = x-y
    else :
         result = "연산식이 잘못되었습니다" 
    return result

print(func_10(1,3,"합"))
print(func_10(1,3,"차"))
print(func_10(1,3,"곱"))

4
-2
연산식이 잘못되었습니다

In [235]:
def func_11(x):
    # result = x **2
    return x **2 # 위의 행을 적으면 여기는 return result 가 되어야 하고..여기에 함수의 행동을 적을 수 있으면 위의 행은 없어도 됨

l = [1, 2, 3, 4]

m = [] 

for i in l:
    m.append(func_11(i))
print(m)

[1, 4, 9, 16]

In [230]:
## map 함수 (위의 내용을 더 간단히 만들 수 있음)
result_2 = list(map(func_11,l)) # l 리스트에 있는 숫자를 하나하나씩 func_11에 넣어서..lst 형태로 만들어주겠다는 것
print(result_2)

[1, 4, 9, 16]

In [231]:
## 람다 함수 (위의 내용을 더 줄일 수 있음)
lamb = lambda x: x**2
print(lamb(4))

16

In [233]:
list(map(lamb,l))

[1, 4, 9, 16]