In [79]:
sum=0
for a in range(1,11,1):
    sum+=a
print(sum)

55

In [89]:
sum = 0
a = 1

while a < 11 :
    sum +=a
    a += 1
print(sum)

55

In [94]:
for a in range(1,10,1):
    print("%d번째반복"%a)
    if a == 6 :
        break

1번째반복
2번째반복
3번째반복
4번째반복
5번째반복
6번째반복

In [ ]:
for a in range(2, 10, 1):
    for b in range(1,10,1):
        print("%d X %d = %d"%(a, b, a*b))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [21]:
a = 1
b = 0
while a < 10:
    # a * (b+1)
    a += 1
while b < 10:
    b += 1
    a * b
    print("%d X %d = %d"%(a, b, a*b))

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
## 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값

In [24]:
for a in range(1,7,1):
    for b in range(1,7,1):
        if a + b ==5:
            print(a,b)

1 4
2 3
3 2
4 1

In [ ]:
## for 문
## 1부터 100까지의 숫자중에 짝수의 합계
## hint : 1부터 100까지 반복
## if 조건식을 사용해서 짝수인 경우에만 +

In [43]:
sum= 0 
sum1=0
for a in range(1,101,1):
    if a%2 == 0 :
       sum += a
    else:
       sum1 += a
print(sum)
print(sum1)

2550
2500

In [ ]:
## 1부터 100까지 합계를 구하는 중 
## 합계가 500이 넘어가는 숫자와 합계의 값

In [64]:
sum = 0
for a in range(1, 101, 1):
    sum += a
    if sum > 500 :
       break
print(a)
print(sum)

32
528

In [62]:
a = 0
sum = 0
while sum < 500 :
    a += 1
    sum += a  
print(a)
print(sum)

32
528

In [57]:
a = 1
sum = 0
while a <= 100 :
    sum += a
    if sum > 500 :
        break
    a += 1
print(a)
print(sum)

32
528

In [70]:
for a in range(10,1,-1):
    if a <= 3 :
        break
    print("%d 번째 반복"%a)

10 번째 반복
9 번째 반복
8 번째 반복
7 번째 반복
6 번째 반복
5 번째 반복
4 번째 반복

In [68]:
for a in range(1,10,1):
    if a <= 3 :
        continue
    print("%d 번째 반복"%a)

4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [ ]:
## 1부터 100까지 짝수의 합계

In [74]:
sum = 0

for a in range(1, 101, 1):
     if a%2 == 0 :
        sum += a
        continue
print(sum)

2550

In [95]:
l = [11, 55, 44, 22, 33]
m = ["a", "b", "c", "d"]

# l.sort()
# l.reverse()
l.insert(2,77)
l.sort()
print(l)
l.remove(55)
print(l)
l.insert(4,55)
print(l)
l.extend(m)
print(l)
l.append(22)
print(l)
l.count(22)
len(l)

[11, 22, 33, 44, 55, 77]
[11, 22, 33, 44, 77]
[11, 22, 33, 44, 55, 77]
[11, 22, 33, 44, 55, 77, 'a', 'b', 'c', 'd']
[11, 22, 33, 44, 55, 77, 'a', 'b', 'c', 'd', 22]

11

In [ ]:
## 1부터 70까지 숫자들중에 3의 배수를 리스트로 만들어서 출력

In [105]:
l = []

for a in range(1,71,1):
    a += 1
    if a%3 == 0 :
        l.append(a)
print(l)

sum = 0
for i in l:
    sum += i
print(sum)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]
828